<!DOCTYPE html>
<<<<<<< HEAD
  <html>
   <head></head>
   <body>
   	 <h1>Welcome</h1>
   	 <h2>Register a new Dog</h2>
   	 <form action="/" method="POST">
        <input type="text" name="name" value="Butch" placeholder="name">
        <input type="text" name="age" value="Mastiff" placeholder="age">
        <input type="text" name="breed" value="6 months" placeholder="breed">
        <input type="submit" name="submit" value="submit" placeholder="name">
   	 </form>
   </body>
 </html>
=======
<html>
  <head></head>
  <body>
    <h1>puppy adoption site</h1>
    <a href="get/new">Click Here To List A Puppy</a>
  </body>
</html>
>>>>>>> 98948bfa3be268ee4c75b4fdf730297c6ad3ab3d
