<!DOCTYPE html>
<<<<<<< HEAD
  <html>
   <head></head>
   <body>
   	 <h1>Welcome</h1>
   	 <a href="/new">Click Here To List A Puppy</a>
   </body>
 </html>
=======
<html>
  <head></head>
  <body>
    <h1>Welcome on the puppy adoption site</h1>
    <a href="get/new">Click Here To List A Puppy</a>
  </body>
</html>
>>>>>>> 98948bfa3be268ee4c75b4fdf730297c6ad3ab3d
